@media all and (max-width:992px) {
    

    .left {
        flex-basis: 100%;
        order: 2;

    }

    .center {
       flex-basis: 70%
    }

    .right {
        flex-basis: 30%;
    }
    
  }


  @media all and (max-width:768px) {

    .left {
        flex-basis: 100%;
        order: 2;
    }

    .right {
        flex-basis: 100%;
        order: 3;
    }

    .center {
        flex-basis: 100%;
        order: 1;
    }

  }